<html>
    <header>
        
        <meta charset="UTF-8">
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

        <style>
            label { font-weight: bold;}
            h1 { font-weight: bolder; }                                    

            .modal-mask { position: fixed; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: table; transition: opacity 0.3s ease; }
            .modal-wrapper { display: table-cell; vertical-align: middle; }
            .modal-container { width: 350px; margin: 0px auto; padding: 20px 30px; background-color: #fff; border-radius: 2px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33); transition: all 0.3s ease; font-family: Helvetica, Arial, sans-serif; }
            .modal-header h3 { margin-top: 0; color: #42b983; }
            .modal-body { margin: 20px 0; }
            .modal-default-button { float: right;}
            .modal-enter { opacity: 0; }
            .modal-leave-active { opacity: 0; }
            .modal-enter .modal-container, .modal-leave-active .modal-container { -webkit-transform: scale(1.1); transform: scale(1.1); }
        </style>

        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header"> <slot name="header"><h3> Edició d'horari </h3> </slot> </div>

                        <div class="modal-body"> 
                            <slot name="body">
                                
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">                                
                                <div class="row"> 
                                    <button class="col btn btn-sm btn-success" @click="$emit('save')">Guardar</button>
                                    <div class="col"></div>
                                    <button class="col btn btn-sm btn-info" @click="$emit('close')">Tornar</button>
                                    <div class="col"></div>
                                    <button class="col btn btn-sm btn-danger" @click="$emit('delete')">Esborrar</button>                                                            
                                </div>
                            </slot>
                        </div>
                    </div>
                </div>
                </div>
            </transition>
        </script>

    </header>
    <body>
        <div class="marc" id="app">

            <div class="container">
                <h1>Control horari</h1>
                <div class="row" style="margin-top: 5vw; ">
                    <div class="col">
                        <button v-if="BotoEstat == 'on'" type="button" class="btn btn-success" @click="Inicia()">Començo a treballar</button>
                        <button v-if="BotoEstat == 'off'" type="button" class="btn btn-info" @click="Para()">Paro de treballar</button>                        
                    </div>                    
                </div>
                <div class="row" style="margin-top: 5vw; ">

                    <div class="card col">
                        <div class="card-body">
                          <h5 class="card-title">Hores treballades</h5>
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                De l'últim inici fins ara
                              <span class="badge bg-primary rounded-pill">{{HoresTreballadesActualment}} min. / {{(HoresTreballadesActualment/60).toFixed(1)}} h</span>
                            </li>                            
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Avui has treballat
                              <span class="badge bg-primary rounded-pill">{{HoresAvui}} min. / {{(HoresAvui/60).toFixed(1)}} h</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Aquesta setmana has treballat
                              <span class="badge bg-primary rounded-pill">{{HoresSetmana}} min. / {{(HoresSetmana/60).toFixed(1)}} h</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Aquest mes has treballat
                              <span class="badge bg-primary rounded-pill">{{HoresMes}} min. / {{(HoresMes/60).toFixed(1)}} h </span>
                            </li>
                          </ul>
                          
                        </div>
                    </div>          
                </div>          

                <div class="row" style="margin-top: 3vw">

                    <div class="card col">
                        <div class="card-body">
                          <h5 class="card-title">Detall hores</h5>                          
                          <div class="input-group">
                            <span class="input-group-text">Mes / Any</span>
                            <input type="text" v-model="ConsultaMes" v-mask="'##'" @change="Consulta()" class="form-control">
                            <input type="text" v-model="ConsultaAny" v-mask="'####'" @change="Consulta()" class="form-control">
                            <button type="button" class="btn btn-success" class="form-control" @click="Imprimeix()">Descarrega full</button>
                          </div>                          
                          <br />
                          <div class="alert alert-success" role="alert" v-if="PdfUrl.length > 0">
                            <a target="_blank" :href="PdfUrl">Baixa't l'arxiu</a>
                          </div>                          
                          
                          <table class="table">
                            <thead>
                              <tr>                                
                                <th scope="col">Dia</th>
                                <th scope="col">Inici</th>
                                <th scope="col">Fi</th>
                                <th scope="col">Minuts</th>
                                <th> # </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(DH, index) of DetallHores ">                                
                                <td>{{DH.Data}}</td>
                                <td>{{DH.HoraInici}}</td>
                                <td>{{DH.HoraFi}}</td>
                                <td>{{DH.Total}} min. / {{(DH.Total/60).toFixed(1)}} h</td>
                                <td> <button class="btn btn-xs btn-warning" @click="doEditaElement(index)">Edita</button> </tr>
                              </tr>
                              <tr>                                
                                <td colspan="5"> <button class="btn btn-xs btn-info" @click="doEditaElement(-1)">Afegeix</button> </tr>
                              </tr>
                            </tbody>
                          </table>
                          
                        </div>
                    </div>                    

                </div>
                

            </div>

    
            <modal v-if="showModal" @close="doClose" @save="doSave" @delete="doDelete">
                <!--
              you can use custom content here to overwrite
              default content
            -->
                <div slot="body">
                    <div class="form-group">
                        <label>Data</label>
                        <vuejs-datepicker :value="DetallHores[IndexElement].Data" @selected="setData($event, IndexElement)" class="form-control" style="width: 100%;"></vuejs-datepicker>                                        
                    </div>
                    <div class="form-group">
                        <label>Hora inici</label>
                        <input type="text" class="form-control" v-mask="'##:##'" v-model="DetallHores[IndexElement].HoraInici" />
                    </div>
                    <div class="form-group">
                        <label>Hora fi</label>
                        <input type="text" v-mask="'##:##'" class="form-control" v-model="DetallHores[IndexElement].HoraFi" />
                    </div>
                                                            
                </div>
            </modal>
    
        </div>

    </body>
    <script>
        Vue.component("modal", { template: "#modal-template" });        
        Vue.use(VueMask.VueMaskPlugin);

        var app = new Vue({
                el: '#app',
                components: { vuejsDatepicker },
                data: {           
                    SUBMIT_URL: '/apiweb/apiControlHorari',                    
                    IDS: 1,
                    IDU: 0,
                    
                    BotoEstat: '',
                    ConsultaMes: '',
                    ConsultaAny: '',
                    Errors: '',
                    HoresAvui: 0,
                    HoresSetmana: 0,
                    HoresMes: 0,
                    mesAny: '',
                    DetallHores: [],
                    HoresTreballadesActualment: 0,
                    showModal: false,
                    IndexElement: '',
                    AddNewOne: false,
                    PdfUrl: ''

                },
                created () {
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    
                    this.IDS = urlParams.get('idS');
                    this.IDU = urlParams.get('idU');
                    if(this.IDS > 0 && this.IDU > 0 && !isNaN(this.IDS) && !isNaN(this.IDU) ) {
                        this.loadData(this.IDS, this.IDU);
                    } else {
                        alert('Paràmetres incorrectes.');
                    }
                },
                methods: {    
                    setData($event, IndexElement) {
                        this.DetallHores[IndexElement].Data = moment($event).format('YYYY-MM-DD');
                    },
                    doSave() {

                        // Quan guardo he d'ordenar que la data i horainicial vagin per ordre                         
                        this.DetallHores.sort(
                        function(a,b) {
                            if (a.Data < b.Data) return -1;
                            if (a.Data > b.Data) return 1;
                            if (a.Data == b.Data && a.HoraInici < b.HoraInici ) return -1;
                            if (a.Data == b.Data && a.HoraInici > b.HoraInici ) return 1;
                            return 0;
                        });

                        this.showModal = false;

                        let F = new FormData();
                        F.append('idS', this.IDS);
                        F.append('idU', this.IDU);
                        F.append('accio', 'save');
                        F.append('mesAny', this.mesAny);
                        F.append('Dades', JSON.stringify(this.DetallHores));
                        axios.post( this.SUBMIT_URL, F )
                            .then( (r) => { this.getLoadDataResponse(r) })                            
                            .catch( (e) => { alert(e); });                    

                    },
                    doClose() {

                        if(this.AddNewOne) { this.DetallHores.splice(this.IndexElement, 1); }
                        this.showModal = false;
                    },
                    doDelete() {                        
                      
                        this.showModal = false;
                        this.DetallHores.splice(this.IndexElement, 1);
                        this.doSave();                      
                        
                    },
                    doEditaElement(index) {
                        
                        this.IndexElement = index;
                        this.AddNewOne = false;

                        if(this.IndexElement == -1) { 
                            
                            const dia = moment(new Date()).format('YYYY-MM-DD');
                            const horaInici = moment(new Date()).format('HH:mm');
                            const horaFi = moment(new Date()).format('HH:mm');
                            this.DetallHores.push({'Data': dia, 'HoraInici': horaInici, 'HoraFi': horaFi, 'Total': 0}); 
                            this.IndexElement = this.DetallHores.length - 1;
                            this.AddNewOne = true;
                        }
                                                
                        this.showModal = true; 

                    },                
                    loadData(idS, idU, accio = 'idle') {
                        
                        if(this.mesAny == '') { this.mesAny = (new Date().getMonth()+1).toString() + (new Date().getFullYear()).toString(); }                                                
                        const Url = this.SUBMIT_URL + '?idS=' + idS + '&idU=' + idU + '&accio=' + accio + '&mesAny=' + this.mesAny;
                        // r = array('Dia' => 0, 'Setmana' => 0, 'Mes' => 0, 'Error' => '', 'MesMostrat' => date('m'), 'EstatBoto' => '');
                        axios.get( Url )
                            .then( (r) => { this.getLoadDataResponse(r) })
                            .catch( (e) => { });                    
                    },
                    getLoadDataResponse(r) {
                        this.HoresAvui = r.data.Dia;  
                        this.HoresSetmana = r.data.Setmana;
                        this.HoresMes = r.data.Mes;
                        this.BotoEstat = r.data.EstatBoto;
                        this.DetallHores = r.data.DetallHores;
                        this.HoresTreballadesActualment = r.data.TempsActualTreballat;
                        this.PdfUrl = r.data.PdfUrl;
                    },
                    Inicia() {
                        this.loadData(this.IDS, this.IDU, 'on');                 
                    },
                    Para() {
                        this.loadData(this.IDS, this.IDU, 'off');                 
                    },
                    Imprimeix() {
                        this.loadData(this.IDS, this.IDU, 'pdf');
                    },
                    Consulta() {
                        
                        this.mesAny = '';
                        
                        if( ( this.ConsultaAny.length == 4 && this.ConsultaMes.length > 0 && !isNaN(this.ConsultaAny) && !isNaN(this.ConsultaMes) )
                            || ( this.ConsultaAny.length == 0 && this.ConsultaMes.length == 0 )
                        ) {
                            this.mesAny = this.ConsultaMes.toString() + this.ConsultaAny.toString();    
                            this.loadData(this.IDS, this.IDU, 'idle');
                        }
                    }             
                }
        });            
    </script>

</html>