<html>
    <header>
        
        <meta charset="UTF-8">

        <script src="https://kit.fontawesome.com/4479587b76.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');            

            html,body { font-family: 'Roboto'; overflow: auto; margin: 0px; padding: 0px; background-color: black; box-sizing: border-box; color: black; font-size: 1vh; font-weight: bold; height: 100vh; }
                        
            .franja_superior { display: flex; }
            .marc { margin: 1vh; background-color: white; height: 97vh; }

            .titol { display: inline-flex;  background-color: black;  color: white; padding: 2vh; font-size:3vh; font-weight: bold; width: 27vw; }
            .data { display: inline-flex; margin-left: 30vw; font-size:3vh; padding-top: 2vh; }
            .hora { display: inline-flex; font-size:5vh; margin-left: 4vh; font-weight: bold;  padding-top: 1vh; }
            
            .taula_programacio { padding: 3vh; padding-top: 1vh; padding-bottom:0px; height: 44vh; }
            .taules_inferiors { padding: 3vh; padding-top: 1vh; display: flex; justify-content: space-between; height: 32vh; }
            .taula_cursos {   }
            .taula_exposicions {  }
            .separacio_taules { width: 5vh; display: inline-flex;  height: fit-content; }

            .franja_inferior { margin: 3vh; margin-top: 0.5vh; display: flex; background-color: gainsboro; justify-content: space-between; }
            .franja_inferior > div { font-weight: bold; padding: 1vh; font-size: 2vh;  }
            .news_quadrat { background-color: white; }
            .news { font-size: 2vh; padding: 1vh; }
                        
            .taula { border-collapse: collapse; width: 100%; }                        
            .taula td, th { text-align:left; padding: 1.8vh 1vh; font-size: 2vh; font-weight: bold; }
            .taula th { padding-bottom: 0vh; }
            .taula th { font-weight: bold; font-size:3vh; border-bottom: 1px solid }
            .taula tbody > tr:nth-child(even) { background-color: gainsboro}            

            .textTrans { opacity: 1; transition: opacity 1s; }
            .textTrans:hover { opacity: 0; }
            
        </style>
    </header>
    <body>
        <div class="marc" id="app">
            <div class="franja_superior">            
                <div class="titol" > Programació de la Casa de Cultura </div>
                <div class="data" > {{DiaActual}} </div>
                <div class="hora" > {{Rellotge}}h </div>
            </div>
            <div class="taula_programacio">
                <table class="taula">
                    <thead>
                    <tr>
                        <th style="width: 75%">Programació</th>
                        <th style="width: 10%; text-align:center;"><i class="far fa-clock"></i> Hora</th>
                        <th style="width: 15%; text-align:center;"><i class="fas fa-map-marker-alt"></i> Ubicació</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="G of DadesHorarisGenerals[Pagines[0].Actual]">
                        <td class="textTrans" :style="[{'opacity': Pagines[0].Opacity}]">{{G.titol}}&nbsp;</td>
                        <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[0].Opacity}]">{{G.hora_inici}}</td>
                        <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[0].Opacity}]">{{G.espais}}</td>
                    </tr>
                    
                </tbody>
                </table>
                <div style="display:flex; justify-content: flex-end"> <div v-for="(i, index) of (Pagines[0].Total + 1)" :style="setStyle(0, index)"> &nbsp; </div> </div>                
            </div>


            <div class="taules_inferiors">
                <div class="taula_cursos">
                    
                    <table class="taula">
                        <thead>
                        <tr>
                            <th style="width: 65vw">Activitats periòdiques / Cursos</th>
                            <th style="width: 10vw; text-align:center;"><i class="far fa-clock"></i></th>
                            <th style="width: 25vw; text-align:center;"><i class="fas fa-map-marker-alt"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                                                
                            <tr v-for="C of DadesHorarisCursos[Pagines[1].Actual]">
                                <td class="textTrans" :style="[{'opacity': Pagines[1].Opacity}]">{{C.titol}}&nbsp;</td>
                                <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[1].Opacity}]">{{C.hora_inici}}</td>
                                <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[1].Opacity}]">{{C.espais}}</td>
                            </tr>                        
                        
                    </tbody>
                    </table>
                    <div style="display:flex;  justify-content: flex-end;"> <div v-for="(i, index) of (Pagines[1].Total + 1)" :style="setStyle(1, index)"> &nbsp; </div> </div>                

                </div>
                
                
                <div class="separacio_taules">&nbsp;</div>
                
                                
                <div class="taula_exposicions">
                    <table class="taula">
                        <thead>
                        <tr>
                            <th style="width: 65vw">Exposicions</th>
                            <th style="width: 10vw; text-align: center;"><i class="far fa-calendar"></i></th>
                            <th style="width: 25vw; text-align: center;"><i class="fas fa-map-marker-alt"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="E of DadesHorarisExposicions[Pagines[2].Actual]">
                            <td class="textTrans" :style="[{'opacity': Pagines[2].Opacity}]">{{E.titol}}&nbsp;</td>
                            <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[2].Opacity}]">{{E.hora_inici}}</td>
                            <td class="textTrans" :style="[{'text-align':'center'}, {'opacity': Pagines[2].Opacity}]">{{E.espais}}</td>
                        </tr>                                                
                    </tbody>
                    </table>
                    <div style="display:flex;  justify-content: flex-end;"> <div v-for="(i, index) of (Pagines[2].Total + 1)" :style="setStyle(2, index)"> &nbsp; </div> </div>                

                </div>



            </div>

            <div class="franja_inferior">
                <div style="width: 48vw; display: flex; justify-content:space-between;"  >
                    <div><i class="fas fa-phone"></i> 972 202 013</div>
                    <div><i class="fab fa-whatsapp"></i> 691 217 59</div>
                    <div><i class="far fa-envelope"></i> info@casadecultura.org</div>
                    <div><i class="fas fa-globe"></i> www.casadecultura.org</div>
                </div>
                <div style="display: flex; justify-content: space-between; width: 15vw;" >
                    <div>@casadeculturagi</div>
                    <div><i class="fab fa-instagram"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-youtube"></i></div>
                </div>
            </div>

        </div>
        
    </body>
    <script>
        var app = new Vue({
                el: '#app',
                data: {
                    idS: 1,
                    DadesHorari: [],
                    DadesHorarisGenerals: [],
                    DadesHorarisCursos: [],
                    DadesHorarisExposicions: [],
                    Pagines: [{Total: 0, Actual: 0, Opacity: 1},{Total: 0, Actual: 0, Opacity: 1},{Total: 0, Actual: 0, Opacity: 1}],   // Pàgines General, Cursos, Exposicions
                    Rellotge: "",
                    DiaActual: "",
                    timer: 0,
                    timerRellotge: 0,
                    timerPagines: 0,
                    timerTrans: 0,
                    E: {'titol':'', 'hora_inici':' ', 'espais':' '}
                },
                created () {
                    
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    
                    this.idS = urlParams.get('idS');

                    this.getData();
                    this.getDiaActual();
                    this.ActualitzaHora();
                    this.timer = setInterval(this.getData, 300000);
                    this.timerRellotge = setInterval(this.ActualitzaHora, 1000);                                        
                    this.timerPagines = setInterval(this.doPageJump, 10000);
                },
                methods: {
                    sleep(segons) {
                        return new Promise(resolve => setTimeout(resolve, segons*1000));
                    },                    
                    async doPageJump() {
                        
                        for(let i = 0; i < 3; i++) {
                            if( this.Pagines[i].Total > 0 ) {
                                this.Pagines[i].Opacity = 0;
                                await this.sleep(1);
                                if( this.Pagines[ i ].Actual == this.Pagines[ i ].Total ) this.Pagines[ i ].Actual = 0;
                                else this.Pagines[ i ].Actual++;
                                await this.sleep(0);
                                this.Pagines[i].Opacity = 1;
                            }
                        }                                                                                                
                    },
                    setStyle: function(Pagina, Index) {
                        let estil = 'width: 2vw; height: 1hw; margin-left: 0.5vw; margin-top: 0.5vw;';
                        
                        if(this.Pagines[Pagina].Actual != Index) estil += 'background-color: aliceblue;' 
                        else estil += 'background-color: gainsboro;' 
                        
                        return estil; 
                    },
                    getData: function() {
                        let AjaxUrl = 'https://hospici.cat/web/GetActXML?IDS='+this.idS+'&XML=0';                        
                        // let AjaxUrl = 'http://localhost:8080/WebFiles/test.json';
                        
                        axios.get( AjaxUrl )                        
                            .then( R => { this.TractaDades( R.data ); } )
                            .catch( E => { alert(E); } );                               
      
                    },
                    ActualitzaHora: function(){
                        let D = new Date();                        
                        this.Rellotge = D.getHours().toString().padStart(2, '0') + '.' + D.getMinutes().toString().padStart(2, '0');                        
                    },            
                    getDiaActual: function() {
                        let D = new Date();                        
                        switch(D.getDay()) { case 0: this.DiaActual = 'Diumenge'; break; case 1: this.DiaActual = 'Dilluns'; break; case 2: this.DiaActual = 'Dimarts'; break; case 3: this.DiaActual = 'Dimecres'; break; case 4: this.DiaActual = 'Dijous'; break; case 5: this.DiaActual = 'Divendres'; break; case 6: this.DiaActual = 'Dissabte'; break; }
                        this.DiaActual += ', ' + D.getDate() + ' ';
                        switch( (D.getMonth()+1) ) { case 1: this.DiaActual += 'de gener'; break; case 2: this.DiaActual += 'de febrer'; break; case 3: this.DiaActual += 'de març'; break; case 4: this.DiaActual += 'd\'abril'; break; case 5: this.DiaActual += 'de maig'; break; case 6: this.DiaActual += 'de juny'; break; case 7: this.DiaActual += 'de juliol'; break; case 8: this.DiaActual += 'd\'agost'; break; case 9: this.DiaActual += 'de setembre'; break; case 10: this.DiaActual += 'd\'octubre'; break; case 11: this.DiaActual += 'de novembre'; break; case 12: this.DiaActual += 'de desembre'; break; }
                        this.DiaActual += ' de ' + D.getFullYear();
                    },        
                    TractaDades: function(Rows) {
                        var today = new Date();                                                                  
                        
                        this.DadesHorarisExposicions = [];
                        this.DadesHorarisExposicions.push([this.E,this.E,this.E,this.E]);
                        this.DadesHorariCursos = [];
                        this.DadesHorarisCursos.push([this.E,this.E,this.E,this.E]);
                        this.DadesHorarisGenerals = [];
                        this.DadesHorarisGenerals.push([this.E,this.E,this.E,this.E,this.E,this.E]);
                        let iExposicions = 0;
                        let iCursos = 0;
                        let iGenerals = 0;

                        for(Row of Rows){
                            
                            const DataInicialActivitat = Row.data_inicial.split('-');                            
                            const HoraFinalActivitat = Row.hora_fi.split('.');                            
                            const HoraInicialActivitat = Row.hora_inici.split('.');                            
                            const isDataActivitatIgualDataAvui = parseInt(DataInicialActivitat[0]) == parseInt(today.getFullYear()) && parseInt(DataInicialActivitat[1]) == parseInt((today.getMonth()+1)) && parseInt(DataInicialActivitat[2]) == parseInt(today.getDate());
                            const isHoraActivitatVisible = parseInt(HoraInicialActivitat[0]) > parseInt(today.getHours() - 2) && parseInt(HoraInicialActivitat[0]) < parseInt(today.getHours() + 2);

                            // Deixo només un espai ( el primer )
                            const T = Row.espais.split(',');
                            Row.espais = T[0];

                            const Categories = Row.categories.split('@');
                            const isExposicio = (Categories.findIndex(X => (X == 46)) > -1);
                            const isCurs = (Categories.findIndex(X => (X == 45)) > -1);


                            // Si la data inicial i la data final són iguals i a més, és igual al dia d'avui, ho mostrem.
                            if(                                 
                                ( Row.data_inicial == Row.data_fi 
                                    && isDataActivitatIgualDataAvui           
                                    && ( isHoraActivitatVisible || isExposicio )
                                )
                            ) {

                                // Retallo el títol si no hi cap                                
                                if((isExposicio || isCurs) && Row.titol.length > 50) Row.titol = Row.titol.substring(0, 50) + '...';
                                else if( Row.titol.length > 250 ) Row.titol = Row.titol.substring(0, 250) + '...';                                                                                               
                                
                                if(isExposicio) {                                    
                                    if( iExposicions == 4 ) { 
                                        this.DadesHorarisExposicions.push([this.E,this.E,this.E,this.E]); 
                                        iExposicions = 0; 
                                        this.Pagines[2].Total++; 
                                    }
                                    this.DadesHorarisExposicions[ this.Pagines[2].Total ][ iExposicions++ ] = Row;
                                } 
                                else if(isCurs){
                                    if( iCursos == 4 ) { 
                                        this.DadesHorarisCursos.push([this.E,this.E,this.E,this.E]); 
                                        iCursos = 0; 
                                        this.Pagines[1].Total++; 
                                    }
                                    this.DadesHorarisCursos[ this.Pagines[1].Total ][ iCursos++ ] = Row;

                                } 
                                else {                                    

                                    if( iGenerals == 6 ) {                                         
                                        this.DadesHorarisGenerals.push([this.E, this.E,  this.E,  this.E,  this.E,  this.E]);                                         
                                        iGenerals = 0; 
                                        this.Pagines[0].Total++; 
                                    }
                                    this.DadesHorarisGenerals[ this.Pagines[0].Total ][ iGenerals++ ] = Row;
                                                                        
                                } 
                                
                            }

                        }    
                                                                                                                    
                    }
                }
            });            
    </script>

</html>