<html>
    <header>
        
        <meta charset="UTF-8">
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <style>
            label { font-weight: bold;}
            h1 { font-weight: bolder; }
            .marc { display: flex; }
            
                        
        </style>
    </header>
    <body>
        <div class="marc" id="app">

            <div style="width: 50vw;">                

                <h1>FORMULARI PER ENVIAMENT DE PREMSA</h1>
                            
                <div>Títol:</div>
                <div><input v-model="titol" style="width: 100%" /></div>

                <div>Text:</div>
                <div><textarea v-model="text" style="width: 100%; height: 50vh;"></textarea></div>
                <br />
                <div>Imatge (600x600px):</div><div><input @change="handleFileUpload" type="file" ref="file_image" name="imatge" /></div>
                <br />
                <div>Nota de premsa (pdf o docx):</div><div><input @change="handleFileUpload" type="file"  ref="file_news" name="nota" /></div>
                <br />
                <div style="display: flex">
                    <div>&nbsp;Usuari:</div>
                    <div><input type="text" v-model="user" style="width: 100%" /></div>
                    <div>&nbsp;Contrasenya:</div>
                    <div><input type="password" v-model="password" style="width: 100%" /></div>
                </div>
                <br />                                
                <div v-if="Errors.length > 0" style="padding: 2vw; background-color: darkred; color:white;">{{Errors}}</div>
                <br />
                <input type="submit" v-if="Estat != 2" @click="Update('Genera')" value="Genera" />
                <input type="submit" v-if="Estat == 1" @click="Update('Publica')" value="Publica" />
                <div v-if="Estat == 2">Nota de premsa publicada a: {{UrlPublicacio}}</div>

            </div>            
            <div v-html="doc"></div>                                                             

        </div>
        
    </body>
    <script>
        var app = new Vue({
                el: '#app',
                data: {       
                    doc: '',        
                    UrlPublicacio: '',                
                    titol: '',                    
                    text: '',
                    user: '',
                    password: '',
                    SUBMIT_URL: '/apiweb/UploadFrontEnds',                    
                    TEMPLATE_URL: 'http://www.casadecultura.cat/downloads/premsa/template.html',
                    Estat: 0,       //0: Inicial, 1: He fet un enviament Update, 2: He fet un enviament Publicar                    
                    SITE_ID : 1,
                    file_imatge: '',
                    file_notapremsa: '',
                    Errors: '',
                    BotoPremut: 'Genera',  // Genera o Publica
                },
                created () {},
                
                methods: {  
                        
                    Update(BotoPremut) {      
                        
                        this.BotoPremut = BotoPremut;
                        this.Errors = '';

                        if(BotoPremut == 'Genera') this.Estat = 0; 
                        else if(BotoPremut == 'Publica') this.Estat = 1;
                        
                        axios.get( this.TEMPLATE_URL )
                        .then( (r) => {                             
                                                        
                            let formData = new FormData();                                                  

                            if(this.Estat == 0) {
                                this.doc = r.data;                                                                                                          
                                this.doc = this.doc.replace('@@TITOL@@', this.titol);
                                this.doc = this.doc.replace('@@TEXT@@', this.text);
                                this.docGenera = this.doc;
                                formData.append('accio', 'NotaPremsaGenera');
                            } else if(this.Estat == 1) {
                                formData.append('accio', 'NotaPremsaPublica');
                            }
                                                                                                                                            
                            if(this.file_imatge == '') { alert('No has entrat cap imatge.'); return false; } else formData.append('file_imatge', this.file_imatge);                            
                            if(this.file_notapremsa == '') { alert('No has entrat la nota de premsa'); return false; } else formData.append('file_notapremsa', this.file_notapremsa);                            
                            if(this.doc == '') { alert('No has entrat el text web'); return false; } else formData.append('html', this.doc);                            
                            if(this.user == '') { alert('No has entrat el nom usuar'); return false; } else formData.append('Usuari', this.user);
                            if(this.password == '') { alert('No has entrat la contrasenya'); return false; } else formData.append('Password', this.password);                                                        

                            formData.append('SiteId', 1);           //SiteId
                            formData.append('Publica', (this.Estat == 1));
                            
                            axios.post( this.SUBMIT_URL, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                                .then( (r) => { 
                                               
                                    this.doc = r.data.Html;
                                    this.UrlPublicacio = r.data.Url;
                                    if(this.Estat == 1) this.Estat = 2;
                                    else this.Estat = 1;
                                 })
                                .catch( (e) => { this.Errors = e.response.data; this.Estat = 0; this.URLArxiu = ''; });
                        })
                        .catch( (e) => { this.Errors = e.response.data; this.Estat = 0; this.URLArxiu = ''; });
                        
                    },
                    
                    handleFileUpload(){                                                    
                        this.file_imatge = this.$refs.file_image.files[0];
                        this.file_notapremsa = this.$refs.file_news.files[0];
                    }
                }
        });            
    </script>

</html>