
WebFiles/Imatges/Promocions/*

Auxiliars/GironaCultura/cookie.txt

Auxiliars/GironaCultura/imatge.jpg

Auxiliars/GironaCultura/News.txt

WebFiles/Inscripcions/*

UML/

WebFiles/Imatges/Nodes/

const.php

Auxiliars/Culturavirtual/1-activitats.csv

Database/DbFiles/ControlHorari/1-102021.json

WebFiles/test.json
