#links_bloc { margin: 2vw; border: 1px solid black; padding: 2vw; }
#links_bloc > h1 { margin-bottom: 4vw; }
.links_requadre { display: flex; justify-content: space-around; flex-flow: wrap; }
.link_enllac { width: 20vw; height: 20vw; background-color: #CCCCCC; margin-bottom: 2vw; position: relative; }
.link_text { position: absolute; bottom: 1vw; left: 1vw; right: 1vw; background-color: black; color: white; padding: 1vw; font-size:1.3rem; }
.link_imatge { width: 20vw; height: 20vw; }


@media screen and (min-width: 300px) and (max-width: 1200px) {
  
.link_enllac { width: 35vw; height: 35vw; }
.link_imatge { width: 35vw; height: 35vw; }

}
