.formulari-inscripcio {
  background-color: #f9f9f9; 
  padding: 3vw;
}

.formulari-inscripcio .row { margin-top: 2vw; margin-bottom: 1vw; }
.formulari-inscripcio label { margin-bottom: 0.5vw; }
.formulari-inscripcio .alerta { padding: 1vw; background-color: crimson; color: white; border-radius: 10px; margin: 2vw 0vw; }
.formulari-inscripcio .form-check { margin-top: 2vw;  }
.formulari-inscripcio button { margin-top: 2vw;  }
.formulari-inscripcio .Pas5 { display:block; }
.formulari-inscripcio .Pas5 > ul { margin-top: 1vw; }


@media screen and (min-width: 300px) and (max-width: 1199px) {
  

}
