.formulate-form {
  background-color: #EAEAEA; 
  padding: 3vw;
  margin-right: 2vw;
}

.formulate-form { display: flex; flex-flow: wrap; }
.formulate-form h3 { width: 100%; margin-bottom: 2vw; }
.formulate-input .formulate-input-element { width: 33vw; max-width: 30vw; }
.formulate-input-wrapper { width: 32vw; }
.formulate-input[data-classification=box] .formulate-input-element { width: 1vw; }
.formulate-input input, select, textarea, .formulate-input-element-decorator { background-color: floralwhite !important; }


@media screen and (min-width: 300px) and (max-width: 1199px) {
    
  .formulate-input .formulate-input-element { width: 80vw; }
  .formulate-input-wrapper { width: 80vw; }

}
