#adminBody { font-size: 1rem; color: black; background-color: #ffd5d5; }
#menuComponent a { color: black; }
#menuComponent a:hover { text-decoration: underline; }
#menuComponent {  }
#menuComponent .menuTitol {  margin-top: 1.5vw; background-color: #730000; padding: 0.5vw; color: white; font-weight: bold; }
#menuComponent .menuItem { margin-top: 0vw; background-color: white; padding:0.5vw; }
#avuiComponent {  }

#taulellComponent { margin-bottom: 30px; }

#promocionsComponent {  }

#horarisComponent {  }

.R {
  display: flex;
  width: 100%; 
}

.R:nth-child(even) { background-color: #DDDDDD }

.FT, .FI { padding: 5px; vertical-align: middle; }
.FT { width: 30%; font-weight: bold; }
.FI { width: 70%; }
.withHand { cursor: pointer; }
.MesMissatges { text-align: center; background-color: #CCCCCC; font-weight: bold; }

.modalbox {
  z-index: 2;   
  border: 1px solid gray;
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  width: 90%;
  height: 90%;
}

.mytooltip {
    position: relative;
    display: inline-block;        
    cursor: pointer;
  }
  
  /* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5vw;
    border-radius: 1vw;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 10%;    
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .mytooltip:hover .mytooltiptext {
    visibility: visible;
  }

  
  /* Calendar Helper */
  .CalendarHelper_Div { display: flex; justify-content: space-around; }   
  .CalendarHelper_Table_TitolAny, .CalendarHelper_Table_Setmana { background-color: grey; }
  .CalendarHelper_Table td { padding: 0.5vw; text-align: center; }

  /* LlistatActivitatsHelper */

  .LlistatActivitatsHelper_Div {  }  
  .LlistatActivitatsHelper_Table { width: 100%; border-collapse: collapse;  }
  .LlistatActivitatsHelper_Table td, th { padding: 0vw 1vw; }  
  .LlistatActivitatsHelper_Table tr {  }  
  .LlistatActivitatsHelper_Table tbody { padding: 1vw 0vw; }  
  /* .LlistatActivitatsHelper_Table tbody:nth-child(odd) { background-color: whitesmoke; } */